In [ ]:
type1

In [4]:
class student:
    def __init__(self,name,city,age):
        self.name=name
        self.city=city
        self.age=age
    def display(self):
        print("name=",self.name)
        print("city=",self.city)
        print("age=",self.age)

In [5]:
s=student("tamil","namakkal",23)

In [6]:
s.display()

name= tamil
city= namakkal
age= 23

In [ ]:
type2

In [13]:
class student:
    def __init__(self,name,city,age):
        self.name=name
        self.city=city
        self.age=age
    def display(self):
        print("name=%s"%self.name)
        print("city=%s"%self.city)
        print("age=%d"%self.age)

In [14]:
s=student("kavin","salem",23)

In [15]:
s.display()

name=kavin
city=salem
age=23

In [ ]:
type3

In [16]:
class student:
    def __init__(self,name,city,age):
        self.name=name
        self.city=city
        self.age=age
    def display(self):
        print("name={}".format(self.name))
        print("city={}".format(self.city))
        print("age={}".format(self.age))

In [17]:
s=student("selvam","covai",23)

In [18]:
s.display()

name=selvam
city=covai
age=23

In [ ]:
type3

In [19]:
class student:
    def __init__(self,name,city,age):
        self.name=name
        self.city=city
        self.age=age
    def display(self):
        print("name={self.name}")
        print("city={self.city}")
        print("age={self.age}")

In [21]:
s=student("malar","namakkal",23)

In [22]:
s.display()

name={self.name}
city={self.city}
age={self.age}

In [ ]:
#now we use fstring method

In [23]:
class student:
    def __init__(self,name,city,age):
        self.name=name
        self.city=city
        self.age=age
    def display(self):
        print(f"name={self.name}")
        print(f"city={self.city}")
        print(f"age={self.age}")

In [26]:
s=student("vijay","kerala",23)

In [27]:
s.display()

name=vijay
city=kerala
age=23

In [ ]:
#in this method we add values[ex:in age+2]

In [28]:
class student:
    def __init__(self,name,city,age):
        self.name=name
        self.city=city
        self.age=age
    def display(self):
        print(f"name={self.name}")
        print(f"city={self.city}")
        print(f"age={self.age+2}")

In [29]:
s=student("kaali","mumbai",22)

In [30]:
s.display()

name=kaali
city=mumbai
age=24